# How to Export Excel Cells into Text Files  

At work, I had am employee who was avoiding a data task. He needed to Export a couple of columns into an Excel file. This is notmally not that difficult, but he told me he needed help writing a script. He wanted every cell in the column to be exported into an individual text file. He started doing this manually (copy/paste) and realized this was going to take many hours. I think he had about 300+ files to create.

### Sample Excel File  

Here are the contents of the Excel file I will use to show you how to solve it using Pandas.

**ID**  
1  
2  
3  
4  
5

In [1]:
import pandas as pd

In [2]:
# import sample excel file
df = pd.read_excel('sample.xlsx')
df

   ID
0   1
1   2
2   3
3   4
4   5

Let's verify the datatypes are correct by using **info()**  

* As shown below we can see the column named ID is of integer type.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
dtypes: int64(1)
memory usage: 172.0 bytes

---
The goal of the loop below is to export every row in the DataFrame into a individual text file.  

I normally only try to use Pandas methods, but the index of the DataFrame kept ending up in the text file and I only wanted the value of the row in each of the text files. This is why I am using plain Python to handle the file writing piece.

In [4]:
# loop through the df
for index, row in df.iterrows():
    # grab the value of the row
    value = row.values.item()

    # save the value into a text file
    with open(f'row_{index}.txt', 'w') as f:
        f.write(str(value))

<p class="text-muted">This tutorial was created by <a href="https://www.hedaro.com" target="_blank"><strong>HEDARO</strong></a></p>